body {
  
  background-image: linear-gradient(#aa4b6b, #6b6b83, #3b8d99);
}
#slide-images
{
	background-image: linear-gradient(pink, #6b6b83);	
	border-radius: 10px;	
}
/*shopping cart symbol*/
.fa-shopping-cart {
    font-size: 25px;
    color: #fff;
    padding: 0 35px;
    vertical-align: top;
     cursor: pointer;
}



/*Serach related change from*/
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 6px;
  background: #ddd;
  font-size: 17px;
  border: none;
 
}

.search-container button:hover {
  background: #6d95ce;
   cursor: pointer;

}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
   .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  /*search related*/


.WrapperOfallFilters {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  background: purple;
  width: 250px;
}

.undermenupris {
  display: none;
}

.undermenuvolym {
  display: none;
}

.nrOfTypesInACountry {
  display: inline-flex;
  font-size: 15;
  color: darkgrey;
}

.CriterasForDisplayInFilterBox {
  display: inline-block;
  background: white;
  padding: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12;
  transition-property: border;
  border-color: white;
  transition-duration: 0.3s;
  animation-name: criterias;
  animation-duration: 0.5s;
  border-style: outset;
  border-width: 2px;
}

.CriterasForDisplayInFilterBox:hover {
  border-color: #008060;
}

@keyframes criterias {
  0% {
    border-color: #008060;
  }
  100% {
    border-color: white;
  }
}



.btn {
  width: 250px
}



/*MENU AND ITS FILTER*/

.WrapperOfsearchCrit {
  background: darkgrey;
  display: grid;
  grid-template-columns: 2fr;
  width: 20%;
}

#Sök_kriterier {
  display: inline-block;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12;
  background: #008060;
  padding: 4px;
  border: 2px solid white;
  display: none;
  border-style: outset;
  border-width: 2px;
  width: 130px;
  /*same as btn in bootstrap*/
}

#landmenu {
  display: inline-block;
}

#prismenu {
  display: inline-block;
}

#ekomenu {
  display: inline-block;
}

#ekomenuFilter {
  background-color: #008060;
  border-color: white;
  border-style: inset;
  display: none;
}

#ekomenuFilter:hover {
  background-color: #008080;
}

#ursprunglandnamnFilter {
  background-color: #008060;
  border-color: white;
  border-style: inset;
  white-space: normal;
}

#ursprunglandnamnFilter:hover {
  background-color: #008080;
}

#prismenuFilter {
  display: inline-block;
  background-color: #008060;
  border-color: white;
  border-style: inset;
  white-space: normal;
}




.hiddenfiltermenu {
  background-color: #008060;
}

.hiddenfiltermenu:hover {
  background-color: #c63939;
}

.values {
  background-color: #c63939;
  border-width: 2px;
  border-color: black;
}

.buttonsOfLandFilter {}

.buttonsOfLandFilter:hover {
  background-color: #008060;
}


.buttonsOfvarugrupperFilter:hover {
  background-color: #008060;
}

.buttonsOfforpackningFilter:hover {
  background-color: #008060;
}

.okpris:hover {
  background-color: #008060;
}

.form-control {
  display: inline-block;
  height: 20px;
}


/*PRIS MENUS*/

.pris {
  display: grid;
  grid-template-columns: 1fr
}

.confirmbuttoninfilters {
  padding: none;
  border: 2px solid white;
  border-style: outset;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10;
}

.prisform {
  display: none;
}



/*DISPLAYED PRODUCTS*/

.productDisplayed {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 0.3em;
  padding: 0.3em;
  background: white;
}

.containerDisplayedProducts {
  background: lightblue;
  width: 50%
}

.gridDisplayedProducts {}

.values {
  display: none;
  border-width: 2px;
  border-color: black;
}

.priset {
  display: inline-block;
  margin-left: : 10%;
  margin-right: : 10%;
}

.antal {
  display: inline-block;
  margin-left: : 10%;
  margin-right: : 10%;
}

.köp {
  display: inline-block;
  margin-left: : 10%;
  margin-right: : 10%;
}



/*
.1container_of_filtered_countries {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.3em;
}
.1container_of_filtered_countries > div {
	padding: 0.3em;
	background: white;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20;
	transition-property: background;
	transition-duration: 0.5s;
	background: white;
}

.1container_of_filtered_countries > div:hover {
	background: grey;
}

/*
/*footer*/
.footer {
	
	position: relative;
  	bottom: 0;
	left: 0;
	top: 0;
  	width: 100%;
  	
 }


table
{

  text-align: center;
}

/*#rl
{
  float:right;
    display:block;
    margin-right:0px;
    clear:left;
    background-color: #4CAF50;
    border: none;
    width: 10%;
    padding: 4px;
  
}*/
}
}

/* other page kundbagn
$color-border: #eee;
$color-label: #aaa;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';


/* Global "table" column settings */
.product-image { float: left; width: 20%; }
.product-details { float: left; width: 37%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 10%; }
.product-removal { float: left; width: 9%; }
.product-line-price { float: left; width: 12%; text-align: right; }


/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}


/* Apply clearfix in a few places */
.shopping-cart, .column-labels, .product, .totals-item {
  @extend .group;
}


/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}


/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  font-family: $font-default;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

label {
  color: $color-label;
}

.shopping-cart {
  margin-top: -45px;
}


/* Column headers */
.column-labels {
  label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-border;
  }
  
  .product-image, .product-details, .product-removal {
    text-indent: -9999px;
  }
}


/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border;
  
  .product-image {
    text-align: center;
    img {
      width: 100px;
    }
  }
  
  .product-details {
    .product-title {
      margin-right: 20px;
      font-family: $font-bold;
    }
    .product-description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
  }
  
  .product-quantity {
    input {
      width: 100px;
      
    }
  }
  
  .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: $font-bold;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .remove-product:hover {
    background-color: #a44;
  }
}


/* Totals section */
.totals {
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    
    label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }
    
    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }
  }
  
  .totals-item-total {
    font-family: $font-bold;
  }
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid $color-border;
  }
  
  .column-labels {
    display: none;
  }
  
  .product-image {
    float: right;
    width: auto;
    img {
      margin: 0 0 10px 10px;
    }
  }
  
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  
  .product-price {
    clear: both;
    width: 70px;
  }
  
  .product-quantity {
    width: 100px;
    input {
      margin-left: 20px;
    }
  }
  
  .product-quantity:before {
    content: 'x';
  }
  
  .product-removal {
    width: auto;
  }
  
  .product-line-price {
    float: right;
    width: 70px;
  }
  
}


/* Make more adjustments for phone */
/*Making of another page for kundvagn*/
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  background-color: #fff;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
}

a {
  border: 0 none;
  outline: 0;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

p {
  margin: 0.75rem 0 0;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
button {
  border: 0 none;
  outline: 0 none;
}

button {
  background-color: #666;
  color: #fff;
}

button:hover,
button:focus {
  background-color: #555;
}

img,
.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
}

input,
button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
}

.price:before,
.subtotal:before,
.subtotal-value:before,
.total-value:before,
.promo-value:before {
  content: '£';
}

.hide {
  display: none;
}

main {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 960px;
}

.basket,
aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket {
  width: 70%;
}

.basket-module {
  color: #111;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}

.promo-code-field {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 48%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
}

li.price:before,
li.subtotal:before {
  content: '';
}

.item {
  width: 55%;
}

.price,
.quantity,
.subtotal {
  width: 15%;
}

.subtotal {
  text-align: right;
}

.remove {
  bottom: 1.125rem;
  float: right;
  position: absolute;
  right: 0;
  text-align: right;
  width: 45%;
}

.remove button {
  background-color: white;
  color: #777;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
}

.item-heading {
  padding-left: 4.375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-product {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  position: relative;
}

.product-image {
  width: 35%;
}

.product-details {
  width: 65%;
}

.product-frame {
  border: 1px solid #aaa;
}

.product-details {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field {
  background-color: white;
  border: 2px solid #aaa;
  border-radius: 4px;
  font-size: 0.825rem;
  padding: 2px;
  width: 3.75rem;
}

aside {
  float: right;
  position: relative;
  width: 30%;
}

.summary {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 1rem;
  position: fixed;
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.summary-total-items {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
  color: #111;
  float: left;
  width: 50%;
}

.summary-promo {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.promo-title {
  float: left;
  width: 70%;
}

.promo-value {
  color: #8B0000;
  float: left;
  text-align: right;
  width: 30%;
}

.summary-delivery {
  padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-checkout {
  display: block;
}

.checkout-cta {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}

.summary-delivery-selection {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}

@media screen and (max-width: 640px) {
  aside,
  .basket,
  .summary,
  .item,
  .remove {
    width: 100%;
  }
  .basket-labels {
    display: none;
  }
  .basket-module {
    margin-bottom: 1rem;
  }
  .item {
    margin-bottom: 1rem;
  }
  .product-image {
    width: 40%;
  }
  .product-details {
    width: 60%;
  }
  .price,
  .subtotal {
    width: 33%;
  }
  .quantity {
    text-align: center;
    width: 34%;
  }
  .quantity-field {
    float: none;
  }
  .remove {
    bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
    position: relative;
  }
  .remove button {
    padding: 0;
  }
  .summary {
    margin-top: 1.25rem;
    position: relative;
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  aside {
    padding: 0 1rem 0 0;
  }
  .summary {
    width: 28%;
  }
}

@media screen and (max-width: 960px) {
  main {
    width: 100%;
  }
  .product-details {
    padding: 0 1rem;
  }
}

/* Kundvagn page css till before line